[submodule "lib/enet"]
	path = lib/enet
	url = https://github.com/lsalzman/enet.git
[submodule "lib/cJSON"]
	path = lib/cJSON
	url = https://github.com/alloverse/cJSON.git
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/LuaDist/lua.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus.git
[submodule "lib/unity"]
	path = lib/unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "lib/mathc"]
	path = lib/mathc
	url = https://github.com/felselva/mathc.git
[submodule "lib/tinycthread"]
	path = lib/tinycthread
	url = https://github.com/tinycthread/tinycthread
[submodule "lib/x264"]
	path = lib/x264
	url = https://code.videolan.org/videolan/x264.git
